<html>
<body>
    <div class="login">
       <h1> Retail Price Optimization</h1>
   
       <form action="{{ url_for('predict_datapoint')}}" method="post">
        <h1>
            <legend> Retail Price Optimization</legend>
        </h1>
        <div class="mb-3">
            <label class="form-label">Gender</label>
            <select class="form-control" name="Gender" placeholder="Enter you Gender" required>
                <option class="placeholder" selected disabled value="">Select your Gender</option>
                <option value="male">
                    Male
                </option>
                <option value="female">
                    Female
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Branch</label>
            <select class="form-control" name="Branch" placeholder="Enter Branch" required>
                <option class="placeholder" selected disabled value="">Select Branch</option>
                <option value="Branch A">
                    A
                </option>
                <option value="Branch B">
                    B
                </option>
                <option value="Branch C">
                    C
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">City</label>
            <select class="form-control" name="City"
                placeholder="Enter City" required>
                <option class="placeholder" selected disabled value="">Select City</option>
                <option value="Yangon">
                    Yangon
                </option>
                <option value="Naypyitaw">
                    Naypyitaw
                </option>
                <option value="Mandalay">
                    Mandalay
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Customer type</label>
            <select class="form-control" name="Customer_type" placeholder="Enter Customer type"
                required>
                <option class="placeholder" selected disabled value="">Select Customer type</option>
                <option value="Normal">
                    Normal
                </option>
                <option value="Member">
                    Member
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Product line</label>
            <select class="form-control" name="Product_line"
                placeholder="Enter Product line" required>
                <option class="placeholder" selected disabled value="">Select Product line</option>
                <option value="Health and beauty">
                    Health and beauty
                </option>
                <option value="Electronic accessories">
                    Electronic accessories
                </option>
                <option value="Home and lifestyle">
                    Home and lifestyle
                </option>
                <option value="Sports and travel">
                    Sports and travel
                </option>
                <option value="Food and beverages">
                    Food and beverages
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Payment</label>
            <select class="form-control" name="Payment"
                placeholder="Enter Payment" required>
                <option class="placeholder" selected disabled value="">Select Payment</option>
                <option value="Ewallet">
                    Ewallet
                </option>
                <option value="Cash">
                    Cash
                </option>
                <option value="Credit card">
                    Credit card
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Unit price</label>
            <input class="form-control" type="number" name="Unit_price"
                placeholder="Enter Unit price" />
        </div>
        <div class="mb-3">
            <label class="form-label">Quantity</label>
            <input class="form-control" type="number" name="Quantity"
                placeholder="Quantity"/>
        </div>
        <div class="mb-3">
            <label class="form-label">Tax 5%</label>
            <input class="form-control" type="number" name="Tax"
                placeholder="Tax 5%"/>
        </div>
        <div class="mb-3">
            <label class="form-label">cogs</label>
            <input class="form-control" type="number" name="cogs"
                placeholder="cogs"/>
        </div>
        <div class="mb-3">
            <label class="form-label">gross margin percentage</label>
            <input class="form-control" type="number" name="gross_margin_percentage"
                placeholder="gross margin percentage"/>
        </div>
        <div class="mb-3">
            <label class="form-label">gross income</label>
            <input class="form-control" type="number" name="gross_income"
                placeholder="gross income"/>
        </div>
        <div class="mb-3">
            <input class="btn btn-primary" type="submit" value="Predict your Totals Sales" required />
        </div>
    </form>
    <h2>
       THE  prediction is {{results}}
    </h2>
   <body>
</html>